<% include ../common/head.ejs %>
    <!-- 头部内容 -->
    <header>
        <div class="top">
            <!-- 用户头像 -->
            <a href="#">
                <div class="user-head">
                    <img src="/head.png">
                </div>
            </a>
            <!-- 用户信息 -->
            <div class="user-text">
                <h3><em>小白牛</em><span>服务</span></h3>
                <p>关注后获得股票池实时动态！</p>
            </div>
            <!-- 跳转链接 -->
            <a href="#" class="link">前往查看</a>
        </div>
    </header>
    <!-- 标题 -->
    <div class="title">持仓组合</div>
    <!-- 股票信息 -->
    <div class="code-list">
        <!-- 股票列表 -->
        <div class="code-gp clearfix up">
            <!-- 股票名称 -->
            <div class="code-lf">
                <a href="#">
                    <div class="code-name">
                        <h4>丝路视觉</h4>
                        <p>300556</p>
                    </div>
                </a>
            </div>
            <div class="code-rg">
                <!-- 股票当前价格 -->
                <div class="code-trade"><a href="#"><span>100.94</span><span class="trade-number">+2.73%</span><span class="trade-rg"><em>累计</em><b>+2.73%</b></span>
                </a></div>
                <!-- 股票价格 -->
                <div class="code-infor">
                    <div class="infor-lf"><span>100.82</span><em>-</em><span>120.04</span></div>
                    <div class="infor-rg">30%</div>
                </div>
                <!-- 历史信息 -->
                <div class="code-history">
                    <div class="history-lf">历史建仓区间</div>
                    <div class="history-rg"><span>仓位</span><i class="icon-his"></i></div>
                </div>
                <!-- 更多信息 -->
                <div class="more-infor">
                    <p>添加：<span>02-06 10:27</span></p>
                </div>
            </div>
        </div>
        <!-- 股票列表 -->
        <div class="code-gp clearfix down">
            <!-- 股票名称 -->
            <!-- 股票名称 -->
            <div class="code-lf">
                <a href="#">
                    <div class="code-name">
                        <h4>丝路视觉</h4>
                        <p>300556</p>
                    </div>
                </a>
            </div>
            <div class="code-rg">
                <!-- 股票当前价格 -->
                <div class="code-trade"><a href="#"><span>100.94</span><span class="trade-number">+2.73%</span><span class="trade-rg"><em>累计</em><b>-2.73%</b></span>
                </a></div>
                <!-- 股票价格 -->
                <div class="code-infor">
                    <div class="infor-lf"><span>200.82</span><em>-</em><span>120.04</span></div>
                    <div class="infor-rg">30%</div>
                </div>
                <!-- 历史信息 -->
                <div class="code-history">
                    <div class="history-lf">历史建仓区间</div>
                    <div class="history-rg"><span>仓位</span><i class="icon-his"></i></div>
                </div>
                <!-- 更多信息 -->
                <div class="more-infor">
                    <div class="infor-price">建议止损价：<span>55.24</span></div>
                    <p>更新：<span>02-07 09:45</span><span class="price-rg">30%<em>至</em>0%</span></p>
                    <p>添加：<span>02-06 10:27</span></p>
                </div>
            </div>
        </div>
        <!-- 股票列表 -->
        <div class="code-gp clearfix up null">
            <!-- 股票名称 -->
            <!-- 股票名称 -->
            <div class="code-lf">
                <a href="#">
                    <div class="code-name">
                        <h4>丝路视觉</h4>
                        <p>300556</p>
                    </div>
                </a>
            </div>
            <div class="code-rg">
                <!-- 股票当前价格 -->
                <div class="code-trade"><a href="#"><span>100.94</span><span class="trade-number">+2.73%</span><span class="trade-rg"><em>累计</em><b>+2.73%</b></span>
                </a></div>
                <!-- 股票价格 -->
                <div class="code-infor">
                    <div class="infor-lf"><span>100.82</span><em>-</em><span>120.04</span></div>
                    <div class="infor-rg">30%</div>
                </div>
                <!-- 历史信息 -->
                <div class="code-history">
                    <div class="history-lf">历史建仓区间</div>
                    <div class="history-rg"><span>仓位</span><i class="icon-his"></i></div>
                </div>
                <!-- 更多信息 -->
                <div class="more-infor">
                    <div class="infor-price">建议止损价：<span>55.24</span></div>
                    <p>更新：<span>02-07 09:45</span><span class="price-rg">30%<em>至</em>0%</span></p>
                    <p>添加：<span>02-06 10:27</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 标题 -->
    <div class="title title-art">策略说明</div>
    <!-- 说明 -->
    <article class="article">
        <p>选出比较有操作意义的一些股票，放入一个池中，供投资者结合自己的情况和盘面变化，再从中选出适合自己买入的股票。股票池体现的是一种股票投资组合，也就是通常说的不要将鸡蛋放在一个篮子里。</p>
        <p>将一笔钱分散投资到几支股票，有利于降低投资风险。通常股票池内几支股票的选择是有讲究的，比如高收益（同时意味高风险）与低风险（同时意味低收益）搭配。</p>
    </article>
    <!-- 底部信息 -->
    <footer>
        <p>＊本策略为个人建议，仅供参考！</p>
    </footer>
<% include ../common/footer.ejs %>
