
<header>
	<!-- 头部信息 -->
	<div class="title">
		<div class="title-center">
			<span class="title-text">Online SKU</span>
			<ul class="menu-list">
				<li id="loginWrap"></li>
			</ul>
		</div>
	</div>
</header>