@charset "UTF-8";
html {
  -webkit-text-size-adjust: none;
  word-wrap: break-word; }

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-weight: normal; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2rem; }

img {
  border: 0;
  display: block; }

a {
  text-decoration: none;
  color: #555; }

a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #fe621d; }

i,
em {
  font-style: normal; }

ul,
li {
  list-style: none; }

body {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: #fff;
  /*-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;*/ }

select,
input,
textarea {
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  outline: none;
  border: 0;
  border-radius: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*@media all and (min-width: 640px) {
    body{width:640px;margin:0 auto;}
    }
@media all and (max-width: 320px) {
    body{width:320px;margin:0 auto;}
    }
*/
